#custom-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  background-color: #f1f1f1;
}
#custon-filter-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-list input {
  border: 2px solid #3c3c3c;
  background: none;
  padding: 11px 14px;
  font-size: 16px;
  letter-spacing: 1px;
}
.input-range #price-range,
.input-range #size-range {
  width: 100%;
  height: 5px;
}
.input-range #price-range .noUi-connects,
.input-range #size-range .noUi-connects {
  background: #7c7c7c;
}
.input-range #price-range .noUi-connect,
.input-range #size-range .noUi-connect {
  background: #3c3c3c;
}
.input-range #price-range .noUi-handle,
.input-range #size-range .noUi-handle {
  width: 10px;
  height: 10px;
  right: 0px;
  top: -3px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #3c3c3c;
}
div#more-filters {
  border: 2px solid #3c3c3c;
  background: none;
  padding: 6px 14px;
  font-size: 16px;
  letter-spacing: 1px;
  width: 100%;
  color: #3c3c3c;
  font-weight: 400;
  cursor: pointer;
}
#regular-filters-container,
#more-filters-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#regular-filters-container > div,
#more-filters-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22%;
}
#regular-filters-container input:focus,
#more-filters-container input:focus {
  outline: none;
}
#regular-filters-container label,
#more-filters-container label {
  text-transform: uppercase;
  color: #3c3c3c;
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 1px;
}
#regular-filters-container input.button-submit,
#more-filters-container input.button-submit {
  background: #3c3c3c;
  color: #fff;
  font-size: 11px;
  padding: 8px 28px;
  letter-spacing: 1px;
  cursor: pointer;
}
#more-filters-container {
  display: none;
  margin-top: 50px;
}
#more-filters-container.active {
  display: flex;
}
